# Configuration file

general {
    # domain:name:meta
    # domain defaults to `minecraft`
    # meta is optional
    # domain is required if meta is specified
    S:"Centered Wear" <
        aov:handwraps
        wooden_sword
        wooden_axe
        wooden_hoe
        wooden_pickaxe
        wooden_shovel
        leather_boots
        leather_chestplate
        leather_helmet
        leather_leggings
     >

    # Determines whether or not vanilla experience contributes to AoV experience gain
    B:"Enable Vanilla Experience gain"=false

    # Sets the maximum level
    I:"Max Level"=15

    # Sets the recharge rate per tick, -1 disables this
    I:"Recharge Delay"=-1

    # If false, the Astro UI will no longer render while not holding any card, spread, or royal road buff.
    B:"Render Astro UI while Empty"=true

    # Renders the Charges left to be above the Spellbar instead of below. This setting has no impact if Render SpellBar Over HotBar is enabled.
    B:"Render Charges Above SpellBar"=false

    # Enables the text render for the Astro UI Royal Road. If disabled, only the icon will render.
    B:"Render Royal Road Text"=true

    # Sets the Spellbar to render in place of the hotbar while active.
    B:"Render SpellBar Over HotBar"=false

    # Enables the targetting UI renderer.
    B:"Render Target UI"=true

    # How transparent the target ui is.
    # Min: 0.0
    # Max: 1.0
    D:"Target UI Opcaity"=0.25

    ##########################################################################################################
    # element positions
    #--------------------------------------------------------------------------------------------------------#
    # The XY positions of on screen elements from the mod
    ##########################################################################################################

    "element positions" {
        I:"Astro X"=0
        I:"Astro Y"=0
        I:"SpellBar X"=0
        I:"SpellBar Y"=0
        I:"Target X"=0
        I:"Target Y"=0
    }

    ##########################################################################################################
    # earthquake
    #--------------------------------------------------------------------------------------------------------#
    # Manages the Earthquake Spell Block Destruction
    ##########################################################################################################

    earthquake {
        # Chance that a Destruction will take place; Lower = Higher Chance
        # Min: 1
        # Max: 2147483647
        I:"Destruction Chance"=5

        # domain:name:meta|other
        # meta is optional
        # [other] is what CAN be broken down but won't be broken down into.
        # 
        # Example: [minecraft:gravel|minecraft:grass] may have Cobble before it, so Cobble breaks down into Gravel, which may have Dirt after it so Gravel breaks down into Dirt.
        # Grass will also break down into Dirt but Cobble will never break down into Grass.
        S:"Destruction Order" <
            minecraft:stone
            minecraft:cobblestone
            minecraft:gravel|minecraft:grass
            minecraft:dirt
            minecraft:sand
         >

        # Amount of Ticks to wait until the next Destruction; Lower = Sooner
        # Min: 1
        # Max: 2147483647
        I:"Destruction Ticks"=5
        B:Enable=true

        # If Disabled, destruction stops at the last block rather than setting to air
        B:"Enable Air"=true
        B:"Enable Screen Shaking"=true
    }

}


