# Configuration file

aura {
    # Min: 1
    # Max: 2147483647
    I:auraTransporterAuraAmount=1000

    # Min: 0.0
    # Max: 1.0
    D:auraTransporterAuraMultiplierPerBlock=0.97
    I:auraTransporterDrainRange=15
    I:auraTransporterStoreRange=15
    I:autoWrathMobDamageCost=10
    I:autoWrathPulseCost=10
    I:dampeningFeatherAuraPerMeter=40
    I:freezerHardIceCreationCost=80
    I:freezerIceCreationCost=10
    I:freezerSnowCreationCost=5
    I:potionEnhancerCostPerLevel=50
}


blocks {
    B:enableAncientFence=true
    B:enableAncientFenceGate=true
    B:enableAncientLadder=true
    B:enableAuraTransporter=true
    B:enableAutoWrath=true
    B:enableDisruptionCatalyst=true
    B:enableFreezer=true
    B:enableHardIce=true
    B:enableInfusedBrickWall=true
    B:enableInfusedStoneWall=true
    B:enablePotionEnhancer=true
}


general {
    B:allowFreezerHardIceCreation=true
    B:allowFreezerSnowCreation=true

    # Min: 1.0
    # Max: 1.7976931348623157E308
    D:auraTransporterRange=30.0
    I:auraTransporterRitualTime=500
    I:autoWrathRitualTime=800

    # Enables degrading nether blocks into soulsand when aura runs out
    B:enableNetherDegradeEffect=true
}


items {
    B:enableCreativeAuraCache=true
    B:enableDampeningFeather=true
    B:enableSkyBottle=true
    B:enableSkyFeather=true
}


