# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        35
        113
        117
        97
        114
        107
        37
        51
        65
        98
        97
        115
        97
        108
        116
        63
        118
        97
        114
        105
        97
        110
        116
        61
        115
        116
        111
        110
        101
        95
        98
        97
        115
        97
        108
        116
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        74
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        46
        44
        77
        44
        -54
        6
        -14
        -110
        18
        -117
        19
        115
        74
        -20
        -53
        18
        -117
        50
        19
        -13
        74
        108
        -117
        75
        -14
        -13
        82
        -29
        33
        -126
        12
        12
        13
        44
        -1
        71
        -63
        -16
        5
        127
        9
        -56
        127
        -5
        -1
        31
        0
        -52
        21
        18
        64
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


