# Configuration file

general {
    # Selects the files that are being loaded [default: [Ljava.lang.String;@3674c291]
    S:LoadingFiles <
        wandIronwood.json
     >

    # Selects the files that load into the NBTStorage [default: [Ljava.lang.String;@35502c6e]
    S:NBTFiles <
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:Forge=true
    B:GameStages=true
    B:Loot=true
    B:Player=true
    B:Score=true
    B:Utils=true
    B:World=true
}


